<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModernLog - Caminhões Cadastrados</title>
</head>
<body>
	<div class="container mt-3">
		<h3>Consulta de Caminhões</h3>
		<table id="tbCaminhao" class="table table-bordered table-sm">
			<thead>
				<tr>
					<th align= "left">Modelo</th>
					<th align= "left">Ano</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="caminhao : ${listarCaminhoes}">
					<td style="text-align:left" th:text="${caminhao.getModelo()}">Modelo</td>
					<td style="text-align:left" th:text="${caminhao.getAno()}">Ano</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>