<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ModernLog - Cadastrar Carga</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>ModernLog</li>
          <li><a href="../../modernlog/entregas/cadastrar">Entrega</a></li>
          <li><a href="../../modernlog/caminhoes/cadastrar">Caminhão</a></li>
          <li><a href="../../modernlog/clientes/cadastrar">Cliente</a></li>
          <li><a href="../../modernlog/cargas/cadastrar">Carga</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Cadastro de Carga</h1>
      <form th:object="${cargaDto}" action="/modernlog/cargas" method="POST">
	      <div>
	        <input th:field="*{notaFiscal}" type="text" placeholder="Nota Fiscal" minlength="44" maxlength="44" size="44" required/>
	        <textarea 
	          th:field="*{descricao}"
	          name=""
	          id=""
	          cols="30"
	          rows="10"
	          class="desc-carga"
	          placeholder="Descrição"
	        ></textarea>
	      </div>
	      <hr />
	      <div class="button-cadastrar">
	        <input type="submit" value="Cadastrar Carga" />
	      </div>
	      <a href="consultar" class="link-retorno">
	        <h4>Clique aqui para consultar as cargas já cadastradas</h4>
	      </a>
	  </form>
    </main>

    <footer></footer>
  </body>
</html>
