<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModernLog - Cadastrar Cliente</title>
</head>
<body>
	<div class="container mt-3">
		<form th:object="${clienteDto}" action="/modernlog/clientes" method="POST">
      		<div class="row">
      			<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Razão Social: </span> 
						<input type="text" th:field="*{razaoSocial}" class="form-control" minlength="10" maxlength="30" required>
					</div>
				</div>
      		
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">CNPJ: </span> 
						<input type="text" th:field="*{cnpj}" class="form-control" minlength="14" maxlength="14" required>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Telefone: </span> 
						<input type="text" th:field="*{telefone}" class="form-control" minlength="11" maxlength="17" required>
					</div>
				</div>
			</div>
			<input class="btn btn-success" type="submit" value="Cadastrar Cliente"/>
		</form>
		
		<a type="button" class="btn btn-primary" href='consultar'>Clique aqui para consultar os clientes já cadastrados</a>
	</div>
</body>
</html>