<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ModernLog - Cadastrar Cliente</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>ModernLog</li>
          <li><a href="../../modernlog/entregas/cadastrar">Entrega</a></li>
          <li><a href="../../modernlog/caminhoes/cadastrar">Caminhão</a></li>
          <li><a href="../../modernlog/clientes/cadastrar">Cliente</a></li>
          <li><a href="../../modernlog/cargas/cadastrar">Carga</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Cadastro de Cliente</h1>
      <form th:object="${clienteDto}" action="/modernlog/clientes" method="POST">
	      <div>
	        <input th:field="*{razaoSocial}" type="text" placeholder="Razao Social" required/>
	        <input th:field="*{cnpj}" type="text" placeholder="CNPJ" minlength="14" maxlength="14" required/>
	        <input th:field="*{telefone}" type="text" placeholder="Telefone" minlength="11" maxlength="17" required/>
	      </div>
	      <hr />
	      <div class="button-cadastrar">
	        <input type="submit" value="Cadastrar Cliente" />
	      </div>
	      <a href="consultar" class="link-retorno">
	        <h4>Clique aqui para consultar os clientes já cadastrados</h4>
	      </a>
	  </form>
    </main>

    <footer></footer>
  </body>
</html>
